.nav {
    /* width: 250px;
    position: fixed;
    top: 0;
    left: 0; */
    /* height: 100%; */
    background: #F8F9FA;
    width: 100%;
    /* padding: 30px 0; */
    display: flex;
    flex-direction: column;
}

.navbar-brand h4 {
    font-size: 24px;
    font-weight: 700;
    color: #111827;
}

.navbar-brand {
    text-align: center;
}

.nav-ul {
    width: 100%;
}

.nav-ul a {
    color: #6B7280 !important;
    padding: 0 3.25rem;
    height: 3rem;
    align-items: center;
    display: flex;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.nav-ul div {
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.15rem !important;
}

.menu-item:hover {
    background: #E5E7EB;
    /* border-radius: 8px; */
}