.skillsList {
 display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;

    gap: 1.5rem;
}

.main {
    background-color: #FFFFFF;
    width: 100%;
}

@media (max-width: 650px) {
    .skillsList {
        justify-content: start;
    }

    .skillsList button {
        margin-right: 1rem;
    }
}